<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
        <h1>NodePop</h1>
        <nav>
            <% if (session.userId) { %>
                <a href="/logout"><%= __('Logout')%></a>
            <% } else { %>
                <a href="/login"><%= __('Login')%></a>
            <% } %>
                <a href="/private"><%= __('My Ads')%></a>
        </nav>
        <div>
          <% getLocales().forEach(locale => { %>
            <a href="/change-locale/<%= locale %>"><%= locale %></a>&nbsp;
          <% }) %>
       </div>
    </header>