<%- include('header.ejs') %>

  <main>
    <h1><%= title %></h1>
    <div>
      <% adverts.forEach (advert => { %>
        <div class='cont-ad'>
          <h3> <%= advert.name %> - <%= advert.price %> EUR </h3>
          <p>
            <% if (advert.sell) { %>
              <p><%= __('Type: Selling')%></p>
            <% } else { %>
              <p><%= __('Type: Searching')%></p>
            <% } %>
          </p>
          <img src='../images/<%= advert.photo %>' alt='<%= advert.name %>'>
          <p><%= __('Tags:')%> <%= advert.tags %></p>
        </div>
      <% }) %>
        <% if (adverts.length === 0) { %>
            <p><%= __('No adverts yet')%></p>
         <% } %>
    </div>
  </main>

<%- include('footer.ejs') %>